@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --green:#00e77f;
    --white:#fff;
    lighting-color: #aaa;
    black:#3d3d3d;
    light-bg:#4b4b4b;
}
*{
    font-family: 'rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-align: none;
    transform: .2s linear;
    text-align: capitalize;
}
*::selection{
    background-color: var(--white);
    color: var(--black);
}
html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
::webikit-scrollbar{
    height: .5rem;
    width: 1rem;
}
::webbkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green);
    border-radius: 5rem;
}
body{
    background-color: var(--black);
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: o;
    z-index: 1000;
    background-color: var(lihgt-bg);
}